<!DOCTYPE html>

<html>
    <head>
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/justified-nav.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width"/>
        <title>Harvard Courses</title>
    </head>
    <body>
  		<%- body %>
    </body>
</html>