body {
    margin-top: 100px; /* offset for navbar */
    margin-bottom: 60px;
    background: url(/img/bg.jpg);
    /*background: url(http://files.customize.org/download/wallpapers/73938/79422/polished_wood-1920x1200.jpg);*/
}

div.card-pane {
    overflow-x: auto;
    white-space: nowrap;
    background: url(/img/bg.jpg);
}   

div.card-pane [class*="span"] {
    display: inline-block;
    float: none;  
}

.card-pane .card { 
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
    width: 180px;
    height: 180px;
    margin: 5px;
    display: inline-block;
    float: none;
}

.card-pane .card:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.black { 
    background-color: black;
    color: white;
    border: 1px solid #000;
}

.white {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
}

.winner {
    background-color: yellow;
}

.selected {
    background-color: grey;
}

div.card-pane {
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid rgb(200, 200, 200);*/
    padding: 15px;
    background-color: LightGrey;

}

div.card-content {
    margin-left: 20px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    font: Arial;
    font-size: 20px;
    white-space:initial;
    /* Alignment */
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}

#judge-heading {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.centered-heading {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.centered-mid-heading {
    width: 100%;
    text-align: center;
}

.centered-button {
    float: center;
    text-align: center;
}

.centered-table {
    width: 300px;
    margin: auto;
    float: center;
    /*text-align: center;*/
}

.centered-tbl {
    width: 300px;
    margin: auto;
    float: center;
}

.centered-form {
    width: 60%;
    margin: auto;
}

.img-small {
    max-width: 80px;
}

.media {
    display: inline-block;
    margin-left: 30px;
}

.circular {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background: no-repeat;
}

#confirmButton {
    margin-top: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

font-family: 'Open Sans', sans-serif;

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 3000px;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
