body {
    margin-top: 100px; /* offset for navbar */
    margin-bottom: 60px;
    background: url(/img/bg.jpg);
    /*background: black;*/
    /*background: url(http://files.customize.org/download/wallpapers/73938/79422/polished_wood-1920x1200.jpg);*/
}

div.card-pane {
    overflow-x: auto;
    white-space: nowrap;
    /*background: url(/img/bg.jpg);*/
    background: white;
    background-color: white;
}   

div.card-pane [class*="span"] {
    display: inline-block;
    float: none;  
}

.card-pane .card { 
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
    width: 180px;
    height: 180px;
    margin: 5px;
    display: inline-block;
    float: none;

  -webkit-box-shadow: 1px 5px 5px rgba(0,0,0,.15);
  -moz-box-shadow: 1px 5px 5px rgba(0,0,0,.15);
  box-shadow: 1px 5px 5px rgba(0,0,0,.15);
}

.card-pane .card:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.black { 
    background-color: black;
    color: white;
    border: 1px solid #000;
}

.white {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
}

.winner {
    background-color: yellow;
}

.selected {
    background-color: grey;
}

div.card-pane {
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid rgb(200, 200, 200);*/
    padding: 15px;
    background-color: LightGrey;

}

div.card-content {
    margin-left: 20px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    font: Arial;
    font-size: 20px;
    white-space:initial;
    /* Alignment */
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}

#judge-heading {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.centered-heading {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.centered-mid-heading {
    width: 100%;
    text-align: center;
}

.centered-button {
    float: center;
    text-align: center;
}

.centered-table {
    width: 300px;
    margin: auto;
    float: center;
    /*text-align: center;*/
}

.centered-tbl {
    width: 300px;
    margin: auto;
    float: center;
}

.centered-form {
    width: 60%;
    margin: auto;
}

.img-small {
    max-width: 80px;
}

.media {
    display: inline-block;
    margin-left: 30px;
}

.circular {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background: no-repeat;
}

.img-chat {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background: no-repeat;
}

#confirmButton {
    margin-top: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

font-family: 'Open Sans', sans-serif;

html {
  font-family: 'Open Sans', sans-serif;
}

/*body {
  min-height: 3000px;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}
*/
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}


/* Chat */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.panel-heading {
    background: #FFF;

}



/* body content wrapper */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 20px;
  padding-bottom: 100px;
  margin: 0 auto -60px;
  background-color: #fff;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  width: 90%;
  background-color: white;
}


/* Timer */
@font-face {
    font-family: 'digi';
    src: url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

#t {
    font-family: 'digi';
    font-size: 60px;
}

.navbar {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
