<h3>List of Games</h3>
Enter your user id:<input type="text" id="user_id"/>

<br/>
<input type="button" value="Create Game" id="create"/>

<br/>
Below is a list of games:

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/jquery-ui-1.8.20.custom.min.js"></script>

<script src="/js/gamelist.js"></script>
