<% layout('../mainLayout') -%>

<script src="/socket.io/socket.io.js"></script>
<script>
// pass variables from back end to game.js using ejs
var room = <%= room %>;
var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/game.js"></script>


<!-- for the pre-game waiting phase -->
<h2 id="waiting-header">Waiting for Players</h2>
<div id="waiting-list">
   <ul>
   </ul>
</div>

<div id="start">
</div>


<!-- once game starts -->
<h1 id="judge-heading">John Harvard is judge this turn.</h1>

<!-- Top Card Pane -->
<div class="card-pane">
   <div class="" style="text-align: center;">
      <div class="card black">
         <div class="card-content" style="text-align: left;">
            <p>This is a black card ______. This is a black example.</p>
         </div>
      </div>
      <div class="card white chosenCard" id="">
         <div class="card-content" style="text-align: left;">
         </div>
      </div>
      <div class="" style="text-align: center;">
         <a href="#" id="confirmButton" class="btn btn-primary">Confirm</a>
      </div>
   </div>
</div>

<!-- Bottom Card Pane -->
<div class="card-pane">
   <div class="row">

   	<% white_cards.forEach(function(card) { %>
		<div class="card white useCard" id="<%= card.id %>">
	        <div class="card-content">
	            <p>
	               <%= card.text %>
	            </p>
	        </div>
      	</div>
   	<% }) %>
   </div>
</div>

<br/>
<br/>
<br/>


<!-- Players table -->
<table class = "table table-hover centered-tbl">
   <thead>
      <tr>
         <th>Players</th>
      </tr>
   </thead>
   <tbody>
      <!-- sample player 1 -->
      <tr>
         <td>
            <div class="media">
               <a href="#" class="pull-left">
               <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle img-small">
               </a>
               <div class="media-body">
                  <br/>
                  <p>
                  <h4>John</h4>
                  </p>
               </div>
            </div>
         </td>
      </tr>
      <!-- sample player 2 -->
      <tr>
         <td>
            <div class="media">
               <a href="#" class="pull-left">
               <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle img-small">
               </a>
               <div class="media-body">
                  <br/>
                  <p>
                  <h4>John</h4>
                  </p>
               </div>
            </div>
         </td>
      </tr>

   </tbody>
</table>

<br/>
<br/>

<script>
$(document).on('ready', function() {
   $('.card-pane').hide();
   $('#judge-heading').hide();
});
</script>
