<% layout('../mainLayout') -%>

<script src="/socket.io/socket.io.js"></script>
<script>
// pass variables from back end to game.js using ejs
var room = <%= room %>;
var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/game.js"></script>
<script src="/js/gamehandlers.js"></script>
<script src="/js/moment.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- for the pre-game waiting phase -->
<div id="start" class="centered-mid-heading">
</div>

<div id="show-players">
   <!-- Players table goes here via Underscore templates-->
</div>

<div class="centered-mid-heading" id="t"></div>
<!-- Once game starts -->
<div id="show-game">
   <!-- Game module for players goes here via Underscore templates-->
   <div id="top-cards" style="display: none;">
      <div class="card-pane">
         <div class="" style="text-align: center;">

            <span id="black-card-panel">
            </span>

            <div class="card white chosenCard" id="">
               <div class="card-content" style="text-align: left;">
               </div>
            </div>
            <div class="" style="text-align: center;">
               <a href="#" id="confirmButton" class="btn btn-primary" disabled>Confirm</a>
            </div>
         </div>
      </div>
   <div>


   <div id="cards-panel">
      <!-- Show Player Specific cards here -->
   </div>
   <div id="judge-panel">
      <!-- Show Judge Specific cards here and hide the cards-panel -->
   </div>
   <div id="submitted-panel">
      <!-- Show Judge Specific cards here and hide the cards-panel -->
   </div>

   <div id="score-panel">
   </div>

   <section class="chat-panel">

      <div class="nomessages">

         <div class="info">
            <h5>Send a message from the form below!</h5>
         </div>

      </div>

      <div class="chatscreen">

         <ul class="chats">
            <!-- The chat messages will go here -->
         </ul>

      </div>

   </section>

   <footer>

      <textarea id="message" placeholder="Write something.."></textarea>
      <a id="submit-chat" class="btn btn-primary">submit</a>

   </footer>
</div>

<br/>

<!-- Template for waiting phase -->
<script id="tmpl-players" type="text/template">
   <h2 id="waiting-header" class="centered-heading">Waiting for Players</h2>

   <!--
   <table class = "table centered-tbl">
      <thead>
         <tr>
            <th>Players</th>
         </tr>
      </thead>
      <tbody>
         {[ _.each(players, function(player) { ]}
            <tr>
               <td>
                  <div class="media">
                     <a href="#" class="pull-left">
                     <img src="{{player.image_url}}" class="circular">
                     </a>
                     <div class="media-body">
                        <br/>
                        <p>
                        <h4>{{ player.first }}</h4>
                        </p>
                     </div>
                  </div>
               </td>
            </tr>
         {[ },this); ]}

      </tbody>
   </table>
 -->
   <hr>
   <h3 class="centered-mid-heading">Players</h3>
   <div class="container">
      <div class="row">
         {[ _.each(players, function(player) { ]}
                  <div class="media">
                     <div class="pull-left">
                     <img src="{{player.image_url}}" class="circular">
                     </div>
                     <div class="media-body">
                        <br/>
                        <p>
                        <h4>{{ player.first }}</h4>
                        </p>
                     </div>
                  </div>
         {[ },this); ]}

      </div>
   </div>
</script>


<!-- Templates for game phase -->
<script id="tmpl-game-top-card" type="text/template">

   <!-- Top Card Pane -->
   <div class="card black" id="{{ black_card.id }}">
         <div class="card-content" style="text-align: left;">
               <p>{{ black_card.content }}</p>
         </div>
   </div>
</script>

<script id="tmpl-game-bottom-card" type="text/template">

   <!-- Bottom Card Pane -->
   <div class="card-pane">
      <div class="row" id="bottom-cards-container">

         {[ _.each(white_cards, function(card) { ]}
         <div class="card white useCard" id="{{ card.id }}">
              <div class="card-content">
                  <p>
                     {{ card.content }}
                  </p>
              </div>
         </div>
         {[ },this); ]}
      </div>
   </div>
</script>

<script id="tmpl-game-judge" type="text/template">

   <!-- Bottom Card Pane -->
   <div class="card-pane">
      <div class="row">
         <div id="submitted-cards">
            <h3 class="centered-mid-heading">
              You are a judge this round. Cards will show at the bottom
            </h3>
            <!-- Inject new cards as they come here-->
         </div>
      </div>
   </div>

</script>

<script id="tmpl-game-player-sub" type="text/template">

   <!-- Bottom Card Pane -->
   <div class="card-pane">

      <div class="row">
         <div id="sub-cards">
            <h3 class="centered-mid-heading">
              Submitted cards:
            </h3>
            <!-- Inject new cards as they come here-->
         </div>
      </div>
   </div>

</script>

<script id="tmpl-game-single-card" type="text/template">

   <!-- Single Card View -->
   <div class="card white useCard" id="{{ card.id }}" data-player="{{ player.id }}">
        <div class="card-content">
            <p>
               {{ card.content }}
            </p>
        </div>
   </div>

</script>

<script id="tmpl-game-blank-card" type="text/template">

   <!-- Single Card View -->
   <div class="card white useCard" id="{{ card.id }}">
        <div class="card-content">
            <p>
               {{ card.content }}
            </p>
        </div>
   </div>

</script>

<script id="tmpl-game-scores" type="text/template">

   <h4>Scores</h4>

   <table class = "table centered-tbl">
      <thead>
         <tr>
            <th>Player Name</th>
            <th>Score</th>
            <th>Card Submitted</th>
         </tr>
      </thead>
      <tbody>
         {[ _.each(players, function (player) { ]}
            <tr id="info-{{ player.id }}">
               <td>{{ player.first }} {{player.last}}</td>
               <td id="score-{{player.id}}">0</td>
               <td class="submitted-cell" id="submitted-{{player.id}}"></td>
            </tr>
         {[ },this); ]}

      </tbody>
   </table>

</script>


