<% layout('../mainLayout') -%>

<h3>Game Lobby</h3>
Enter your user id:<input type="text" id="user_id"/>

<br/>
<input type="button" value="Create Game" id="create"/>

<br/>
Below is a list of games:


<br/>
Game 1 
<a href="/game/1"> <button>Join Game </button> </a>