<h3>Lobby</h3>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/jquery-ui-1.8.20.custom.min.js"></script>

<script src="/js/game.js"></script>