<% layout('../mainLayout') -%>
<script src="/socket.io/socket.io.js"></script>


<div id="error-messages" style="color:red; text-align:center;"><%= messages %></div>
<h1 class="centered-heading">Game Lobby</h1>
<hr>
<div class="centered-heading">
   <input type="button" id="create" value="Create a Game" name="create-game" onclick="window.location.href = '/create';" class="btn btn-primary" style="margin:30px"></input>
</div>



<div id="show-games">
</div>

<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="/js/lobby.js"></script>

<script id="tmpl-games" type="text/template">

   <table class="table centered-table">
      <thead>
         <tr>
            <th>Creator</th>
            <th>Number of players</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         {[ _.each(games, function(game) { ]}
            <tr>
            <td>{{ game.creator.first }}</td>
            <td>{{ game.players.length }}</td>
            <td><a href="/game/{{ game.id }}"><button type="button" class="btn btn-primary">Join!</button></a>
            </td>
            </tr>
         {[ },this); ]}
      </tbody>
   </table>
</script>
