<% layout('../mainLayout') -%>
<script src="/socket.io/socket.io.js"></script>


<div id="error-messages" style="color:red; text-align:center;"><%= messages %></div>
<h1 class="centered-heading">Game Lobby</h1>

<div class="centered-heading">
   <input type="button" id="create" value="Create a Game" name="create-game" onclick="window.location.href = '/create';" class="btn btn-primary" style="margin:30px"></input>
</div>

<div id="show-games">
</div>

<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="/js/lobby.js"></script>

<script id="tmpl-games" type="text/template">

    <div class="container" id="tourpackages-carousel">

      <div class="row">

         {[ _.each(games, function(game) { ]}
           <div class="col-xs-18 col-sm-6 col-md-3">
             <div class="thumbnail">
               <!-- <img src="http://www.geekosystem.com/wp-content/uploads/2012/12/cardsagainsthumanity_550.jpg" alt=""> -->
                 <div class="caption centered-mid-heading">
                   <h3>Game {{ game.id }}</h3>
                   <hr>
                    <h4>Number of players: {{ game.players.length }}</h4>
                    <h4>Created by: {{ game.creator.first }}</h4>
                   <p>
                     <a href="/game/{{ game.id }}">
                     <button type="button" class="btn btn-primary centered-button">Join!</button></a>
                  </p>
                 </div>
             </div>
           </div>
         {[ },this); ]}

      </div><!-- End row -->

   </div><!-- End container -->

</script>
