<% layout('../mainLayout') -%>

<h1 class="centered-heading">Game Lobby</h1>
Enter your user id:<input type="text" id="user_id"/>

<br/>
<input type="button" value="Create Game" id="create"/>

<br/>
Below is a list of games:




<table class="table table-striped table-bordered centered-table">
   <thead>
      <tr>
         <th>Game Id</th>
         <th>Action</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>123</td>
         <td><button type="button" class="btn btn-primary">Join!</button></td>
      </tr>
      <tr>
         <td>456</td>
         <td><button type="button" class="btn btn-primary">Join!</button></td>
      </tr>
      <tr>
         <td>789</td>
         <td><button type="button" class="btn btn-primary">Join!</button></td>
      </tr>
   </tbody>
</table>
